save_dir: /tmp/test_record1
freq: 30

hydra:
  run:
    dir: ${save_dir}/${now:%Y-%m-%d}/${now:%H-%M-%S}

defaults:
  - env: env
  - robot: panda_frankx_interface
  - input: vr_input
  - recorder: vr_recorder
  - cams: camera_manager
  - override hydra/job_logging: colorlog
  - override hydra/hydra_logging: colorlog
