save_dir: "./trained_models"
hyperparameters:
    gamma: 0.98
    actor_lr: 4.492e-05
    critic_lr: 0.000160
    alpha_lr:  0.000324
    alpha: auto
    tau:  0.0077
    batch_size: 227
    buffer_size: 1e6
    learning_starts: 400 #timesteps before starting updates

net_cfg:
    hidden_dim: 442
    activation: relu
    affordance: ${affordance}

learn_config:
    total_timesteps: 500000
    log_interval: 2000 #log timestep reward every log_interval steps
    max_episode_length: 200 #max episode length
    n_eval_ep: 5

# Drawer
# {"actor_lr": 4.4922631541507974e-05, "alpha_lr": 0.00032445411799502744, "batch_size": 227, "critic_lr": 0.00016024034429626047, "hidden_dim": 442, "tau": 0.00772682056387318}

# {'config': {'actor_lr': 0.0001488978575665266, 'alpha_lr': 0.0015266099402555507, 'batch_size': 235, 'critic_lr': 0.0012353596739322521, 'hidden_dim': 313, 'tau': 0.015691814561289274}, 'config_info': {'model_based_pick': False}}
